table,
td {
  border: 1px solid;
}

td .truncate {
  white-space: no-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.create-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
